* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-rows: 100px 1fr 200px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
}
nav ul {
  display: flex;
}
a {
  text-decoration: none;
  padding: 1rem;
  color: black;
}
header {
  grid-area: header;
  background-color: beige;
}

main {
  grid-area: main;
  background-color: white;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding: 10px;
  aspect-ratio: 1/1;
}

footer {
  color: white;
  padding: 10px;
  grid-area: footer;
  background-color: #797575;
  text-align: center;
  align-items: end;
}
@media (min-width: 768px) {
  .img {
    display: flex;
  }
}
@media (max-width: 768px) {
  .img p {
    color: gray;
  }
}
