* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-rows: 100px 1fr 200px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
nav ul {
  display: flex;
}
a {
  text-decoration: none;
  padding: 1rem;
  color: black;
}
header {
  grid-area: header;
  background-color: aqua;
}

main {
  grid-area: main;
  background-color: white;
}
.img {
  display: flex;
}
img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding: 10px;
  aspect-ratio: 1/1;
}

footer {
  grid-area: footer;
  background-color: lightgray;
  text-align: center;
}
