* {
  margin: 0;
  padding: 0;
}
.box1 {
  background-color: red;
  border: 2px solid #000000;
  margin: 0 auto; /* to make the box in center of the page*/
  padding: 2rem 3rem 2rem 3rem;
  height: 10rem;
  width: 10rem;
  text-align: center;
  box-sizing: content-box;
}
.box2 {
  background-color: red;
  border: 2px solid #000000;
  margin: 10px;
  padding: 2rem 3rem 2rem 3rem;
  height: 10rem;
  width: 10rem;
  text-align: center;
  box-sizing: border-box;
}
